# Xcode user data
xcuserdata/
*.xccheckout
*.xcscmblueprint

# Xcode derived
DerivedData/
*.hmap
*.ipa
*.dSYM.zip
*.dSYM

# Xcode workspaces (если не используются)
# *.xcworkspace

# Если проект генерируется XcodeGen — исключаем .xcodeproj из VCS
*.xcodeproj/

# SwiftPM
.swiftpm/
.build/
Package.pins
# Если хотите не коммитить зависимости и резолв
# Packages/
# Package.resolved

# Playgrounds
timeline.xctimeline
playground.xcworkspace

# Carthage
Carthage/Build/

# CocoaPods (если не коммитите Pods)
# Pods/

# fastlane artifacts
fastlane/report.xml
fastlane/Preview.html
fastlane/screenshots/**/*.png
fastlane/test_output
fastlane/build

# Bundler / Ruby
.bundle/

# Misc
*.DS_Store
